// Color Variables
$primary-color: lightblue;
$secondary-color: black;
$text-color: silver;
$accent-color: white;

// Layout Variables
$border-radius: 20px;
$padding: 35px;

// Font Variables
$font-size-header: 1.6rem;
$font-size-span: 1.17rem;

// Key Variables
$key-white-bg: white;
$key-white-border: black;
$key-black-bg: darkgray;

